body {
  font-family: 'Asap', sans-serif;
  background: rgba(242, 242, 242, .6);
  margin: 0;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.customNav {
    /* position: fixed; */
    width: 100%;
    height: 70px;
    padding: 8px 16px 8px 0px;
    background-color: #323540 !important;
    background-size: cover;
    margin-left: 0px !important;
    z-index: 10;
  }

  .customNav a {
    color: #323540 !important;
    font-size: 15pt;
    text-decoration: underline;
    text-underline-offset: .5em;
  }  

  .customNav li  a{
    color: #92c9ca !important;
  }

/* .customNav2 a {
    color: #323540 !important;
} */


.navbar-brand {
    font-size: 20pt !important;
    background-color: #92c9ca !important;
    text-decoration: none !important;
    padding-right: 20px;
    padding-left: 70px;
}

  .nav-item {
    margin: 0px 15px;
  }

  .jumbotron {
    border-radius: 0rem;
    position: relative;
  }

  .jumbotron .profile-img {
    width: 25%;
    margin: 20px 0;
    border-radius: 100%;
    border: 7px solid #eee;
    -moz-box-shadow:    0px 0px 20px rgb(0, 152, 198);
    -webkit-box-shadow: 0px 0px 20px rgb(0, 152, 198);
    box-shadow:         0px 0px 20px rgb(0, 152, 198);
  }

  .bannerbg {
    background-image: url(../images/bannerBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(60vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jumboText {
    font-weight: 100;
    font-size: 50px;
    color: lightgrey;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.jumboText h1 {
  font-weight: 600;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

.lead {

}
