body {
  font-family: 'Asap', sans-serif;
  background: rgba(242, 242, 242, .6);
  margin: 0;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.customNav {
    /* position: fixed; */
    width: 100%;
    height: 70px;
    padding: 8px 16px 8px 0px;
    background-color: #323540 !important;
    background-size: cover;
    margin-left: 0px !important;
    transition: all 0.5s ease-out;
    z-index: 10;
  }

  .customNav a {
    color: #323540 !important;
    font-size: 15pt;
    text-decoration: underline;
    text-underline-offset: .5em;
  }  

  .customNav li  a{
    color: #05cdff !important;
  }

/* .customNav2 a {
    color: #323540 !important;
} */


  .navbar-brand {
    font-size: 25pt !important;
    font-family: 'Nabla', cursive;
    text-decoration: none !important;
    padding-right: 20px;
    padding-left: 60px;
}

  .nav-item {
    margin: 0px 15px;
  }

  .jumbotron {
    border-radius: 0rem;
    position: relative;
  }

  .jumbotron .profile-img {
    width: 30%;
    margin: 5px 0;
    border-radius: 100%;
    border: 7px solid #eee;
    -moz-box-shadow:    0px 0px 20px rgb(0, 152, 198);
    -webkit-box-shadow: 0px 0px 20px rgb(0, 152, 198);
    box-shadow:         0px 0px 20px rgb(0, 152, 198);
  }

  .bannerbg {
    background-image: url(../images/bannerBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(60vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jumboText {
    font-weight: 100;
    font-size: 40px;
    color: lightgrey;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.jumboText h1 {
  font-weight: 600;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

hr.breakLine {
  height: 20px;
  border-style:groove;
  border-color: rgba(0, 223, 248, 0.38);
  border-width: 1px 0 0 0;
  border-radius: 5px;
}

.conBox {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.conFont h1 {
  text-align: center;
}

#skills img{
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.list-inline li{
  padding-right: 3rem;
  padding-bottom: 20px;
  justify-content: space-around;
}


/* Contact Form */

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
  }
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;

}

.card{
margin-left: 10px;
margin-right: 10px;
}

.conCon {
  background-color: rgb(40, 40, 40);
}

.conCon h1{
  color: #eee;
}